@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.5%; /* #09090b */
    --foreground: 0 0% 98%;   /* #fafafa */
  }

  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-surface-dark text-white font-sans antialiased selection:bg-primary selection:text-black;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-surface-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-surface-light rounded-full border-2 border-surface-dark;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}